body{
    margin: 0;
    padding: 0;
    background-color: #1e1e2e;
    color: #ccd6f4;
    font-family: Arial, Helvetica, sans-serif;
}
/*hey*/
.info {
    margin: 10px;
    padding: 10px;
    width: calc(100% - 20px);
    box-sizing: border-box;
    background-color: #181825;
    border-radius: 10px;
}

input{
    width: 150px;
    height: 20px;
    padding: 10px;
    background-color: #181822;
    border: none;
    color: #cdd6f4;
    font-size: 18px;
    border-radius: 10px;
}

button{
    border: none;
    background: #74C7EC;
    background: linear-gradient(90deg, rgba(116, 199, 236, 1) 0%, rgba(203, 166, 247, 1) 100%);
    padding: 10px;
    border-radius: 25rem;
    font-weight: bold;
    font-family: Arial, Helvetica, sans-serif;
    transition: padding 0.5s;
    color: #000;
}
button:hover{
    padding: 15px;
}

button:active{
    background: #c0edfc;
    background: linear-gradient(90deg, rgba(192, 237, 252, 1) 0%, rgba(219, 201, 240, 1) 100%);
}

.button-container{
    width: 100%;
    position: fixed;
    bottom: 90px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.spacer{
    height: 500px;
}