.tabbar {
    width: calc(100% - 20px);
    height: 75px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    background-color: grey;
    position: fixed;
    bottom: 10px;
    left: 10px;
    background-color: #181825;
    border-radius: 25rem;
    filter: drop-shadow(0 0 5px #cba6f744);
}

.tabbar a {
    color: #cba6f7;
    font-size: 40px;
    transition: filter 0.2s;
}

.tabbar a:active {
    filter: drop-shadow(0 0 30px #cba6f7);
}