body {
    background-color: #1e1e2e;
    padding: 0;
    margin: 0;
    color: #cdd6f4;
    font-family: Arial, Helvetica, sans-serif;
}

.add {
    width: 75px;
    height: 75px;
    /*color: #cdd6f4;*/
    color: #cba6f7;
    border: none;
    /*background-color: #313244;*/
    background-color: #181825;
    font-size: 30px;
    font-weight: bold;
    border-radius: 25rem;

    position: fixed;
    bottom: 120px;
    right: 30px;

    display: flex;
    align-items: center;
    justify-content: center;
}

.add:active {
    /*background-color: #45475a;*/
    filter: drop-shadow(0 0 15px #cba6f744);
}

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.info {
    margin: 10px;
    padding: 10px;
    width: calc(100% - 40px);
    height: 150px;
    border-radius: 10px;
    background-color: #181825;
    filter: drop-shadow(0 0 5px #cba6f722);
}

.search_bar {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.search_bar input {
    width: calc(100% - 40px);
    height: 15px;
    font-size: 14px;
    padding: 10px;
    border: none;
    border-radius: 25rem;
    background-color: #313244;
    color: #cdd6f4;
}