body {
    background-color: #1e1e2e;
    color: #cdd6f4;
    padding: 0;
    margin: 0;
}

.top {
    margin: 10px;
    background-color: #181825;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}